<head>
    <meta charset="utf-8">
<title>kokeportfolio||小林健人のポートフォリオサイト</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="小林健人のポートフォリオサイト、kokeportofolioです。いままで制作してきた作品やプロフィールなどまとめてあります。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta property="og:title" content="kokeportfolio">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://koke05.com/kokeportfolio">
    <meta property="og:image" content="images/ogp.png">
    <meta property="og:description" content="小林健人のポートフォリオサイト、kokeportofolioです。いままで制作してきた作品やプロフィールなどまとめてあります。">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@devkoke_05" />
    <meta property="og:url" content="https://koke05.com/portfolio/" />
    <meta property="og:title" content="kokeportfolio" />
    <meta property="og:description" content="小林健人のポートフォリオサイト、kokeportofolioです。いままで制作してきた作品やプロフィールなどまとめてあります。" />
    <meta property="og:image" content="images/ogp.png" />
    
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    
    <link rel="stylesheet" href="reset/ress.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <meta name="theme-color" content="#fafafa">
</head>