.top_header {
  height: 100vh;
  margin-bottom: 150px; }
  .top_header .sp_global-nav .sp_navshowBt {
    padding: 10px 0px;
    position: absolute;
    top: 20px;
    right: 20px; }
    .top_header .sp_global-nav .sp_navshowBt span {
      width: 30px;
      height: 4px;
      display: block;
      background-color: #fff; }
    .top_header .sp_global-nav .sp_navshowBt span:not(:last-child) {
      margin-bottom: 7px; }
  .top_header .sp_global-nav .sp_nav_item {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    transition: all 400ms; }
    .top_header .sp_global-nav .sp_nav_item li {
      padding-top: 55px;
      text-align: center;
      font-size: 5.4rem;
      font-weight: 400;
      text-transform: uppercase; }
  .top_header .sp_global-nav .navhideBt {
    margin-top: 45px; }
    .top_header .sp_global-nav .navhideBt span {
      display: block;
      margin: 0 auto;
      width: 4px;
      height: 40px;
      background: #fff;
      transform: rotate(45deg); }
    .top_header .sp_global-nav .navhideBt span:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 4px;
      height: 40px;
      background: #fff;
      transform: rotate(90deg); }
  .top_header .sp_global-nav .navshow {
    left: 0; }
  .top_header .mainvisual .main_title h1 {
    font-size: 4.2rem;
    line-height: 1.041;
    font-weight: 400;
    text-transform: uppercase;
    margin: 44vh auto 50vh; }
  .top_header .mainvisual .pc_global-nav {
    display: none; }
    .top_header .mainvisual .pc_global-nav .pc_nav-item li {
      margin-bottom: 60px;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 0.03em; }

@media screen and (min-width: 376px) {
  .top_header .sp_global-nav .sp_navshowBt {
    padding: 10px 0px;
    top: 30px;
    right: 30px; }
    .top_header .sp_global-nav .sp_navshowBt span {
      width: 50px;
      height: 7px;
      display: block;
      background-color: #fff; }
    .top_header .sp_global-nav .sp_navshowBt span:not(:last-child) {
      margin-bottom: 10px; }
  .top_header .mainvisual .main_title h1 {
    font-size: 7.5rem; } }

@media screen and (min-width: 769px) {
  .top_header .sp_global-nav {
    display: none; }
  .top_header .mainvisual {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .top_header .mainvisual .pc_global-nav {
      display: block; }
      .top_header .mainvisual .pc_global-nav .pc_nav {
        display: flex; } }
