<!doctype html>
<html class="no-js" lang="ja">
<%- include('common/_head') %>
<body>
    <div class="cursor" id="js_cursor"></div>
    <div class="stalker" id="js_stalker"></div>
    <head>
        <div class="work_head l_inner">
            <h1>koke&nbsp;portfolio</h1>
            <button><a href="index.html">back&nbsp;to&nbsp;top</a></button>
        </div>
    </head>
    <main>
        <div class="work">
            <section>
                <div class="work_overview l_inner">
                    <h2>kokeblog</h2>
                    <div class="work_overview_main">
                        <picture>
                            <source media="(min-width:376px)" srcset="image/kokeblog_work_thumbnail_tb.png">
                            <source media="(min-width:769px)" srcset="image/kokeblog_work_thumbnail_tbpro.png">
                            <source media="(min-width:1025px)" srcset="image/kokeblog_work_thumbnail_pc.png">
                            <img src="image/kokeblog_work_ thumbnail_sp.png" loading="lazy" width:330px; height:230px; alt="kokeblogの画像です。">
                        </picture>
                        <div class="work_overview_text">
                            <dl class="work_overview_list">
                                <div class="work_overview_list_item">
                                    <dt>制作期間</dt>
                                    <dd>3週間</dd>
                                </div>
                                <div class="work_overview_list_item">
                                    <dt>使用技術</dt>
                                    <dd>HTML&nbsp;CSS&nbsp;WordPress</dd>
                                </div>
                                <div class="work_overview_list_item work_overview_list_item_soft">
                                    <dt>使用ソフト</dt>
                                    <dd>XD</dd>
                                </div>
                            </dl>
                            <a href="https://koke05.com/blog"><button class="link_Bt">実際のサイトを見る</button></a>
                        </div>

                    </div>
                </div>
            </section>
            <section>
                <div class="work_contents l_inner">
                    <h3>flow</h3>
                    <div class="work_contents_outline">
                        <h4 class="work_contents_head_title">作品概要</h4>
                        <p>元々、学校の課題で1年生の前期にブログを制作していましたが、最初の方に作ったということもあり読みにくいブログになっているなと感じたので、WordPressの復習もかねて、ブログを制作しました。このブログは現在もコツコツと記事更新しているので良かったら覗いてみてください。</p>
                    </div>
                    <div class="work_contents_flow">
                        <h4 class="work_contents_head_title">制作の過程・思考</h4>
                        <div class="work_contents_flow_text">
                            <p>Adobe XDを使って、ブログのトップページと記事ページをデザインしました。読みやすさを重視し、余計な装飾などはあまりしないで、どこに何があるのかわかりやすいように意識してデザインしました。iphone6/7/8で表示した時のデザインもしっかりと考え、コーディングを素早く終わらせれるようにしました。また、記事のタイトルや文章などは実際のものを入れて、仕上がり時がどんな感じになるか考えながらデザインしていきました。XDを初めて使ったということもあったので、プロトタイプなどの機能は使っていません。</p>
                            <p>実際にコーディングしていく時に、文字の行間であったり、タイトルのマージンなど違和感があるところが結構あったので実際にブラウザ上で見ながら細かいところは調整していきました。この時に、コーディングの時のことを今まで以上に考えることがWebデザインでは大切なんだと感じました。エンジニアやデザイナー関係なく、Web制作に関わっていくのであればコーディング技術をしっかり身に着けることが大事なんだと考えるようになりました。</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
<footer>
    <small>&copy;&nbsp;2020&nbsp;kokeportfolio</small>
</footer>
<%- include('common/_footer') %>
</html>